<div class="container-fluid head-margin">


    <div class="row">
        <h4 class="col-md-8 color-grey">Departments (5)</h4>
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <input type="search" class="form-control" placeholder="Search Department" [(ngModel)]="searchText" name="searchText">
                    <button type="submit" class="search-btn"></button>
                </div>
            </form>
        </div>
    </div>


    <div class="list-group" *ngFor="let department of departmentList | filter : searchText">
        <a href="#" class="list-group-item"> <i class="fa fa-users" aria-hidden="true"></i> {{department.departmentName    }}</a>
    </div>
</div>