<div class="container">
  
  <button (click)="addStudent()" type="submit" class="btn btn-primary">Add Student </button>
  <div class="row">
  
    
    <div class="table-responsive">
      <table id="example" class="table table-striped table-bordered" cellspacing="0" width="70%">
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody *ngIf="(students && students.length !== 0)">
          <tr *ngFor="let student of students">
            <td>{{student.id?student.id:NA}}</td>
            <td>{{student.firstname?student.firstname:NA}}</td>
            <td>{{student.lastname?student.lastname:NA}}</td>
            <td>{{student.email?student.email:NA}}</td>
            <td>{{student.phone?student.phone:NA}}</td>
            <td>{{student.address?student.address:NA}}</td>
            <td>{{student.gender?student.gender:NA}}</td>
            <td>
              <button (click)="editStudent(student.id)"><span class="fa fa-pencil"></span></button>
            </td>
            <td>
              <button  (click)="openDeleteModal(template,student)"><span class="fa fa-remove"></span></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div style="text-align: center;" *ngIf="(!students)">
        No Data Found.
      </div>

    </div>
  </div>

  <div class="row">
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Student</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">&times;</span>
       </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this student?
        <br>
        <button class="btn btn-success" (click)="deleteStudent();modalRef.hide()">Yes </button>
        <button class="btn btn-danger" (click)="modalRef.hide()">No </button>
      </div>
    </ng-template>
  </div>

</div>